#box1{
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 20px groove maroon;
  padding: 20px;
  border-radius: 20px;
  box-sizing: content-box;
  float: left;
  margin-right: 10px;
}

#box2{
  width: 100px;
  height: 100px;
  background-color: blue;
  float: right;
}

span{
  background-color: pink;
  padding: 20px;
  margin: 50px;
}
