body{
        background-color:#white;
      }

      td{
        color:red;
        font-size: 20px;
        text-transform: uppercase;
      }

      #events{
        color: blue;
      }

      .event{
        background-color: orange;
      }

      p{
        color: green;
        text-align: center;
      }

      .para{
        color: black;
      }

      #para3{
        background-color: pink;
      }

      li{
        list-style: none;
      }
