h1{
  color: darkgreen;
  font-family: Georgia;
  text-align: center;
}

h2{
  text-align: center;
  font-family: Georgia;
}

p{
  line-height: 19px;
}

img{
  width: 200px;
  height:200px;

}

.photo{
  padding-right: 10px;
  float: left;
}

ul{
  padding-left: 300px;
}

.caption{
  font-style: italics;
}

a{
  text-decoration: none;
}
